<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dualforce.fitquest.model.dao.UserDao">

    <!-- 사용자 생성 -->
    <insert id="insertUser" parameterType="UserDto" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO User (email, password, name, phone_number, nickname, height, weight, age)
        VALUES (#{email}, #{password}, #{name}, #{phoneNumber}, #{nickname}, #{height}, #{weight}, #{age})
    </insert>

    <!-- 사용자 조회 (ID) -->
    <select id="selectUserById" parameterType="int" resultType="UserDto">
        SELECT * FROM User WHERE user_id = #{id}
    </select>
    <!-- 사용자 조회 (이메일) -->
    <select id="selectUserByEmail" parameterType="String" resultType="UserDto">
        SELECT *
        FROM User
        WHERE email = #{email}
    </select>
    <!-- 사용자 조회 (닉네임) -->
    <select id="selectUserByNickname" parameterType="string" resultType="UserDto">
        SELECT * FROM User WHERE nickname = #{nickname}
    </select>

    <!-- 사용자 전체 조회 -->
    <select id="selectAllUsers" resultType="UserDto">
        SELECT * FROM User
    </select>

    <!-- 사용자 수정 -->
    <update id="updateUser" parameterType="UserDto">
        UPDATE User
        SET password = #{password},
        phone_number = #{phoneNumber},
        nickname = #{nickname},
        height = #{height},
        weight = #{weight},
        age = #{age}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 삭제 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM User WHERE user_id = #{id}
    </delete>

</mapper>
